{% extends 'base.html.twig' %}

{% block title %}Hello FlatController!{% endblock %}

{% block body %}


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Liczba miejsc</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for flat in flats %}
            <tr>
                <th scope="row">{{ flat.id }}</th>
                <td>{{ flat.slots }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
