{% extends 'base.html.twig' %}

{% block title %}Hello FlatController!{% endblock %}

{% block body %}


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Liczba pozycji</th>
            <th scope="col">Liczba dostepnych miejsc</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {% for flat in flats %}
            <tr>
                <th scope="row">{{ flat.id }}</th>
                <td>{{ flat.slots }}</td>
                <td><input type="number" placeholder="Wpisz ile miejsc chcesz zarezerwować" class="form-control"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="#" class="btn btn-success">Złóż zamówienie</a>

{% endblock %}
