{% extends 'base.html.twig' %}

{% block title %}Hello FlatController!{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Liczba pozycji</th>
            <th scope="col">Liczba dostepnych miejsc</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <th scope="row">{{ flats.id }}</th>
            <td>{{ flats.slots }}</td>
        </tr>

        </tbody>
    </table>
{% include 'order/_form.html.twig' %}
{% endblock %}
